# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
db.sqlite3
db.sqlite3-journal

# Configuración sensible
.env
*.env

# Archivos del sistema/IDE
.DS_Store
.vscode/
.idea/

# Static files recolectados (si se usa collectstatic)
staticfiles/
